$baseline: 1.5;
$baserem: 1.5rem;

$primary-color: #15987b;
$light-grey-rule:#E5E7EB;

$text-color-default: #222222;
$text-color-strong: rgb(0, 8, 66);
$text-color-link: #1855bd;

// Derived colours
$emphasised-light-grey-rule: darken($light-grey-rule, 10%);
$emphasised-primary-color: lighten($primary-color, 10%);


html {
  color: $text-color-default;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: $baseline;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.8em;
  line-height: 110%;
  margin-top: 0;
  margin-bottom: $baserem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  color: $text-color-strong;
}

h2 {
  font-size: 1.25em;
  line-height: $baserem * 1;
  font-weight: 300;
  margin: 0;
  margin-bottom: $baserem;
  color: $text-color-strong;
}

h3 {
  color: $text-color-strong;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: $baserem;
}

p {
  margin-top: 0;
  margin-bottom: $baserem;
}

.separated-section {
  margin-top: 0;
  margin-bottom: $baserem;
}

// strong {
//   font-weight: 500;
//   color: $text-color-strong;
// }

// em {
//   font-weight: 400;
//   color: $text-color-strong;
// }

// i {
//   color: $text-color-strong;
// }

// a,
// a em {
//   color: $text-color-link;
// }

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

time {
  margin-top: 0;
  margin-bottom: 0;
}

ul.unbulletted {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin clear-link {
  color: $text-color-default;
  text-decoration: none;
}